{:source-paths ["src"]
 :builds {:dev {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:entries [interceptor.core]}}
                :devtools {:http-root "public"
                           :http-port 8282}}}}
